/* p{
    background-color: purple !important;
    color: wheat;
} */

p{
    color: red;
}

#green{
    color: green;
}

.yellow{
    color: yellow;
}

h1{
    color: blue;
}
h2{
    /* color: blueviolet; */
}
h2, #heading2{
    color: cornflowerblue;
}
h3, #heading3{
    color: crimson;
}