/* p{
    background-color: purple !important;
    color: wheat;
} */

p{
    color: red;
}

#green{
    color: green;
}

.yellow{
    color: yellow;
}

h1{
    color: blue;
}
/* h2{
    color: blueviolet;
} */
h2, #heading2{
    color: cornflowerblue;
}
h3, #heading3{
    color: crimson;
}
h5{
    background-color: teal;
    height: 100px;
    width: 50%;
    border-color: black;
    border-style: solid;
    border-radius: 25px;
    
}

.container{
    background-color: wheat;
    border: 3px solid purple;
    padding: 40px;
    margin: 50px;
}